$main-color: rgba(72, 19, 128, 0.758);
$secondary-color: rgb(250, 197, 255);
$third-color: rgb(255, 221, 0);
$fourth-color: rgb(226, 64, 43);
$border-width: 2px;
$border-property: 2px dashed red;
$padding: 10px;
